section {
  color: #fff;
}
.article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5rem;
}

.article-img {
  width: 50rem;
}

.article-part-2 {
  width: 40rem;
}

.article-heading {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.article-text {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.article-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.article-link {
  color: hsl(176, 68%, 64%);
  font-size: 12px;
  border-bottom: 2px solid hsl(176, 68%, 64%);
}

@media (max-width: 600px) {
  .article {
    flex-direction: column;
  }

  .article-img {
    width: 95%;
  }
  .article-part-2 {
    width: 95%;
  }
}
